* {
  box-sizing: border-box;
  }

body {
margin: 0;
background: #05150d;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

.screen {
width: 100vw;
height: 100vh;

display: grid;

grid-template-rows:
90px
1fr
180px
40px;

gap: 8px;

padding: 8px;

background:
linear-gradient(
180deg,
#04160c,
#021008
);
}

.header {

display: grid;

grid-template-columns:
280px
1fr
180px;

align-items: center;

background: #04120b;

border: 1px solid #2b512f;

padding: 0 20px;
}

.club-section {
display: flex;
gap: 15px;
align-items: center;
}

.crest {
font-size: 42px;
}

.club-title {
font-size: 36px;
font-weight: bold;
}

.club-subtitle {
color: #8fdb63;
letter-spacing: 1px;
}

.page-title {
text-align: center;
}

.page-title h1 {
margin: 0;
font-size: 54px;
letter-spacing: 2px;
}

.subtitle {
color: #8fdb63;
letter-spacing: 2px;
}

.datetime {
text-align: right;
font-size: 22px;
}

.content {

display: grid;

grid-template-columns:
65%
35%;

gap: 8px;
}

.featured {

background:
linear-gradient(
135deg,
#072214,
#031109
);

border: 1px solid #315835;

padding: 20px;
}

.live-pill {

background: #e21d1d;

padding: 8px 16px;

border-radius: 6px;

font-weight: bold;
}

.match-location {
margin-left: 12px;
color: #9be34f;
}

.featured-title h2 {
font-size: 54px;
margin: 20px 0;
}

.stream-panel {

height: 350px;

background:
linear-gradient(
135deg,
#1d3c29,
#0e2317
);

border: 1px solid #335938;
}

.featured-score-area {

display: flex;

justify-content: flex-end;

margin-top: 20px;
}

.featured-score {
font-size: 110px;
font-weight: bold;
}

.featured-overs {
color: #8fdb63;
font-size: 38px;
}

.scorecards {

display: grid;

grid-template-rows:
1fr
1fr
1fr;

gap: 8px;
}

.scorecard {

background:
linear-gradient(
135deg,
#072214,
#031109
);

border: 1px solid #315835;

padding: 18px;
}

.card-title {

color: #8fdb63;

font-size: 28px;

font-weight: bold;
}

.scorecard h3 {
margin: 10px 0;
}

.small-score {
font-size: 72px;
font-weight: bold;
}

.card-status {
color: #d4d4d4;
}

.bottom-row {

display: grid;

grid-template-columns:
60%
40%;

gap: 8px;
}

.sponsor-panel {

background: #1997e6;

border-radius: 8px;

padding: 30px;
}

.announcement-panel {

background:
linear-gradient(
135deg,
#082214,
#04140c
);

border: 1px solid #315835;

padding: 30px;
}

footer {

display: flex;

justify-content: space-between;

align-items: center;

padding: 0 20px;

background: #021108;

color: #9be34f;

font-size: 14px;
}
